.banner_container {
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, #fff 50%, #ffeaf5 50%);
}

.banner {
    min-height: calc(100vh - 192px);
}

.read_more_btn {
    animation: topBounce 3s ease-in-out infinite;
}

@keyframes topBounce {
    0%,
    100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(20px);
    }
}
